################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RadarSystemToolbox/RadarSystemToolbox.Console/bin/Debug/netcoreapp2.1
/RadarSystemToolbox/.vs/RadarSystemToolbox/DesignTimeBuild/.dtbcache
/RadarSystemToolbox/.vs/RadarSystemToolbox/v15/Server/sqlite3
/RadarSystemToolbox/.vs/RadarSystemToolbox/v15/.suo
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.targets
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.props
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.targets
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.props
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/project.assets.json
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.pdb
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.dll
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.FileListAbsolute.txt
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.CoreCompileInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.pdb
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.dll
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csprojAssemblyReference.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.FileListAbsolute.txt
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.CoreCompileInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.assets.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfoInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfo.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.assets.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfoInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfo.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1
/RadarSystemToolbox.Console/bin/Debug/netcoreapp2.1
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.targets
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.props
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.cache
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.targets
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.props
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.cache
/RadarSystemToolbox.Console/obj/project.assets.json
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.pdb
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.dll
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.FileListAbsolute.txt
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.pdb
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.dll
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csprojAssemblyReference.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.FileListAbsolute.txt
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.assets.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfoInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfo.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.assets.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfoInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfo.cs
