################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RadarSystemToolbox/RadarSystemToolbox.Console/bin/Debug/netcoreapp2.1
/RadarSystemToolbox/.vs/RadarSystemToolbox/DesignTimeBuild/.dtbcache
/RadarSystemToolbox/.vs/RadarSystemToolbox/v15/Server/sqlite3
/RadarSystemToolbox/.vs/RadarSystemToolbox/v15/.suo
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.targets
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.props
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.targets
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.props
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/project.assets.json
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.pdb
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.dll
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.FileListAbsolute.txt
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.CoreCompileInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.pdb
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.dll
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csprojAssemblyReference.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.FileListAbsolute.txt
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.CoreCompileInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.assets.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfoInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfo.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.assets.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfoInputs.cache
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfo.cs
/RadarSystemToolbox/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1
/RadarSystemToolbox.Console/bin/Debug/netcoreapp2.1
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.targets
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.g.props
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.csproj.nuget.cache
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.targets
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.g.props
/RadarSystemToolbox.Console/obj/RadarSystemToolbox.Console.csproj.nuget.cache
/RadarSystemToolbox.Console/obj/project.assets.json
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.pdb
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.dll
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.FileListAbsolute.txt
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.pdb
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.dll
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csprojAssemblyReference.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.FileListAbsolute.txt
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.assets.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfoInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfo.cs
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.assets.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfoInputs.cache
/RadarSystemToolbox.Console/obj/Debug/netcoreapp2.1/RadarSystemToolbox.AssemblyInfo.cs
/RadarSystemToolbox.MathLibrary/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.pdb
/RadarSystemToolbox.MathLibrary/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.dll
/RadarSystemToolbox.MathLibrary/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.deps.json
/RadarSystemToolbox.MathLibrary/obj/RadarSystemToolbox.MathLibrary.csproj.nuget.g.targets
/RadarSystemToolbox.MathLibrary/obj/RadarSystemToolbox.MathLibrary.csproj.nuget.g.props
/RadarSystemToolbox.MathLibrary/obj/RadarSystemToolbox.MathLibrary.csproj.nuget.cache
/RadarSystemToolbox.MathLibrary/obj/project.assets.json
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.pdb
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.dll
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.csprojAssemblyReference.cache
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.csproj.FileListAbsolute.txt
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.assets.cache
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.AssemblyInfoInputs.cache
/RadarSystemToolbox.MathLibrary/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.AssemblyInfo.cs
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.runtimeconfig.json
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.runtimeconfig.dev.json
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.pdb
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.dll
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.deps.json
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.pdb
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.dll
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/RadarSystemToolbox.MathLibrary.Tests/bin/Debug/netcoreapp2.1
/RadarSystemToolbox.MathLibrary.Tests/obj/RadarSystemToolbox.MathLibrary.Tests.csproj.nuget.g.targets
/RadarSystemToolbox.MathLibrary.Tests/obj/RadarSystemToolbox.MathLibrary.Tests.csproj.nuget.g.props
/RadarSystemToolbox.MathLibrary.Tests/obj/RadarSystemToolbox.MathLibrary.Tests.csproj.nuget.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/project.assets.json
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.Program.cs
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.pdb
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.dll
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.csprojAssemblyReference.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.csproj.FileListAbsolute.txt
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.csproj.CopyComplete
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.assets.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.AssemblyInfoInputs.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/Debug/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.AssemblyInfo.cs
/RadarSystemToolbox.MathLibrary.Tests/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.Program.cs
/RadarSystemToolbox.MathLibrary.Tests/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.assets.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.AssemblyInfoInputs.cache
/RadarSystemToolbox.MathLibrary.Tests/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.Tests.AssemblyInfo.cs
/RadarSystemToolbox.MathLibrary.Tests/obj/Release/netcoreapp2.1
/RadarSystemToolbox.MathLibrary/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.MathLibrary/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.assets.cache
/RadarSystemToolbox.MathLibrary/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.AssemblyInfoInputs.cache
/RadarSystemToolbox.MathLibrary/obj/Release/netcoreapp2.1/RadarSystemToolbox.MathLibrary.AssemblyInfo.cs
/RadarSystemToolbox.MathLibrary/obj/Release/netcoreapp2.1
/RadarSystemToolbox.Console/obj/Release/netcoreapp2.1/RadarSystemToolbox.Console.csproj.CoreCompileInputs.cache
/RadarSystemToolbox.Console/obj/Release/netcoreapp2.1/RadarSystemToolbox.Console.assets.cache
/RadarSystemToolbox.Console/obj/Release/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfoInputs.cache
/RadarSystemToolbox.Console/obj/Release/netcoreapp2.1/RadarSystemToolbox.Console.AssemblyInfo.cs
/RadarSystemToolbox.Console/obj/Release/netcoreapp2.1
/TestResults/3d0bda06-19a0-4738-9b96-bfa96e3e55b7/Brian_DESKTOP-40SOOJ3 2018-12-23 13_44_51.coverage
/RadarSystemToolbox.Core/bin/Debug/netcoreapp2.1
/RadarSystemToolbox.Core/obj
/RadarSystemToolbox.Core.Tests/bin/Debug/netcoreapp2.1
/RadarSystemToolbox.Core.Tests/obj
/RadarSystemToolbox.DetectionModel/bin/Debug/netcoreapp2.1
/RadarSystemToolbox.DetectionModel/obj/Debug/netcoreapp2.1
/RadarSystemToolbox.DetectionModel.Tests/bin/Debug/netcoreapp2.1
/RadarSystemToolbox.DetectionModel.Tests/obj/Debug/netcoreapp2.1
/RadarSystemToolbox.DetectionModel.Tests/obj
/RadarSystemToolbox.DetectionModel/obj
